.dropzone {
  height: max-content;
  text-align: center;
  border: 2px dashed #d6d1d1;
  box-sizing: border-box;
  padding: 5rem 0 5rem 0;
}

.drag_message {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  color: rgb(75, 75, 75);
}
