@import 'styles/abstracts/mixins';

.viewModal {
  max-width: 100vw !important;
  width: 95vw !important;
}

.viewDocMainTab {
  margin-bottom: 1rem;
  width: 100%;
}

.tabContent {
  width: 100%;
  display: block;
  padding: 1rem;

  .pdfViewerWrapper {
    width: 100%;
    height: 90vh;
    margin-bottom: 1rem;
  }

  .indexesCardWrapper {
    width: 100%;
    height: fit-content;
  }

  @include breakpoint-up(lg) {
    height: 72vh;
    overflow: auto;
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;

    .pdfViewerWrapper {
      width: 75%;
      margin: 0;
    }

    .indexesCardWrapper {
      width: 25%;
      height: 100%;
    }
  }
}
