@import 'styles/abstracts/mixins';

.viewModal {
  max-width: 100vw !important;
  width: 98vw !important;
  height: 90vh !important;
}

.viewDocMainTab {
  width: 100%;
}

.tabContent {
  overflow: auto;
  width: 100%;
  height: 74vh;
  display: block;
  padding: 3px;

  .pdfViewerWrapper {
    width: 100%;
    height: 73vh;
    position: relative;
    overflow: hidden;
  }

  .indexesCardWrapper {
    width: 100%;
    height: auto;
  }

  @include breakpoint-up(lg) {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;

    .pdfViewerWrapper {
      width: 75%;
      margin: 0;
    }

    .indexesCardWrapper {
      width: 25%;
      height: 100%;
    }
  }
}