<p>Hi
  {{name}},
  <br /><br />Good
  {{day}}.
  <br />There is a total of
  {{documentsNumber}}
  document/s to be approved for today. Please login to the application using the
  link below and process the documents. Thank you.
</p>
<p>RIS Link:
  <br />
  <a href='{{url}}'>RIS Login Page</a>
</p>
<p>Regards,
  <br />Records Imaging System Automated Email Notification
</p>
<p>
  <b>*******This is an auto generated email. Do not reply to this email*******</b>
</p>