<p>Hi
  {{name}},
  <br /><br />Good
  {{day}}.
  <br />There is a total of
  {{documentsNumber}}
  document/s
  <br />to be approved for today.
  <br />Please login to the application using the link below and
  <br />process the documents.
  <br />Thank you.
</p>
<p>RIS Link:
  <br />
  <a href='{{url}}'>RIS Login Page</a>
</p>
<p>Regards,
  <br />Records Imaging System Automated Email Notification
</p>
<p>
  <b>This is an auto generated email. Do not reply to this email</b>
</p>