.search-field__container {
  display: flex;
  justify-content: flex-end;
}

.search-field__wrapper {
  position: relative;
  margin-bottom: 1rem;
  width: 20rem;

  & > svg {
    position: absolute;
    left: 15px;
    top: 30%;
    color: silver;
  }

  & > input {
    padding-left: 40px;
  }
}
