.search-field__wrapper {
  position: relative;
  width: 20rem;
  height: fit-content;

  & > svg {
    position: absolute;
    left: 15px;
    top: 30%;
    color: silver;
  }

  & > input {
    padding-left: 40px;
  }
}
