.setting-container {
  display: flexbox;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  flex-wrap: wrap;

  .nav {
    margin-top: 1.2rem;
  }

  .tab-content {
    position: relative;
    display: inline-flexbox;
    margin-top: 1rem;
  }
}
