html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
#root {
  padding: 0;
  margin: 0;
  font-size: 16px;
  background-color: $page-bg;
}

.error-date-range {
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 9999;
  top: 10%;
  left: 50%;
  backdrop-filter: blur(100%);
}
