.navbar {
  padding: 1rem 0;
  box-shadow: 0 0.125rem 0.25rem rgba(black, 0.075);

  &-brand {
    cursor: pointer;
  }

  &-collapse {
    justify-content: space-between;

    .navbar-nav {
      align-items: flex-start;

      & > .nav-link {
        margin-left: 1rem;
      }

      .nav-link__avatar {
        display: none;
      }

      @include breakpoint-up(lg) {
        align-items: center;
        .nav-link__devider {
          display: block;
        }
        .nav-link__avatar {
          display: block;
        }
      }
    }
  }
}

main {
  padding: 0 0;

  @include breakpoint-up(lg) {
    padding: 0 2rem;
  }
}
